.controls-wrapper {
    width: 50%;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
  }
  
  .action-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .action-btn:hover {
    transform: scale(1.1);
  }
  
  .play-pause-btn {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #c96850;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: inset -4px -4px 10px #55291e, inset 4px 4px 10px 1px #ffae9a;
  }
  
  .play-pause-btn.active {
    box-shadow: inset -4px -4px 10px #ff8769, inset 4px 4px 10px 1px #753d30;
  }
  
  .play-pause-btn:hover {
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    .library-body {
      padding: 10px;
      justify-content: center;
    }
  
    .playlist-card {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
      margin: 10px;
    }
  }
  
  /* Additional media queries for even smaller screens if needed */
  @media (max-width: 480px) {
    .library-body {
      padding: 5px;
    }
  
    .playlist-card {
      width: calc(100% - 20px); /* Adjust width for very small screens */
      margin: 10px;
    }
  }
  
  /* Additional CSS for controls */
  .controls-wrapper {
    /* ... existing styles ... */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; /* Add margin top for spacing */
  }
  
  .action-btn {
    /* ... existing styles ... */
    width: 40px; /* Adjust button size */
    height: 40px; /* Adjust button size */
  }
  
  .play-pause-btn {
    /* ... existing styles ... */
    width: 40px; /* Adjust button size */
    height: 40px; /* Adjust button size */
  }