.left-player-body{
    width: 68%;
    margin-right:2% ;
    height: 100%;
}
.right-player-body{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .left-player-body {
        width: 100%; /* Occupy full width on smaller screens */
        margin-right: 0; /* Remove right margin */
    }

    .right-player-body {
        width: 100%; /* Occupy full width on smaller screens */
        height: auto; /* Allow height to adjust based on content */
        margin-top: 20px; /* Add some space between the two sections */
    }
}
@media screen and (max-width: 480px) {
    .left-player-body {
        width: 100%;
        margin-right: 0;
    }

    .right-player-body {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    /* You can add specific styling for screens 480px and below if needed */
}